In [4]:
import json
import os
import pandas as pd
import numpy as np
os.chdir('C:\\Users\\wmj51\\Desktop\\python')

data = []

with open("positive_tweets.json") as f:
    # use 'marid_post_week3 as a test sample'
    for line in f:
        try:
            tweet = json.loads(line)
            if tweet['text'].find('RT @')!=-1:
            # drop Retweeted tweet
                continue
            data.append(tweet)
        except:
            continue

with open('npositive_tweets.json','w') as fp:
    json.dump(data,fp)

tweets_data_path=('npositive_tweets.json')
tweets_data = []
tweets_file = open(tweets_data_path,'r')
tweets_data = json.load(tweets_file)
type(tweets_data)

# convert the json file to dataframe
df = pd.DataFrame(tweets_data)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4999 entries, 0 to 4998
Data columns (total 28 columns):
contributors                 0 non-null object
coordinates                  27 non-null object
created_at                   4999 non-null object
entities                     4999 non-null object
favorite_count               4999 non-null int64
favorited                    4999 non-null bool
geo                          27 non-null object
id                           4999 non-null int64
id_str                       4999 non-null object
in_reply_to_screen_name      2956 non-null object
in_reply_to_status_id        2452 non-null float64
in_reply_to_status_id_str    2452 non-null object
in_reply_to_user_id          2956 non-null float64
in_reply_to_user_id_str      2956 non-null object
is_quote_status              4999 non-null bool
lang                         4999 non-null object
metadata                     4999 non-null object
place                        261 non-null object
possibly_sensitive           1107 non-null object
quoted_status                189 non-null object
quoted_status_id             189 non-null float64
quoted_status_id_str         189 non-null object
retweet_count                4999 non-null int64
retweeted                    4999 non-null bool
source                       4999 non-null object
text                         4999 non-null object
truncated                    4999 non-null bool
user                         4999 non-null object
dtypes: bool(4), float64(3), int64(3), object(18)
memory usage: 956.9+ KB

In [5]:
col_to_keep = ['text']
df = df[col_to_keep]
df['target'] = 1
df.head()

                                                text  target
0  #FollowFriday @France_Inte @PKuchly57 @Milipol...       1
1  @Lamb2ja Hey James! How odd :/ Please call our...       1
2  @DespiteOfficial we had a listen last night :)...       1
3                               @97sides CONGRATS :)       1
4  yeaaaah yippppy!!!  my accnt verified rqst has...       1

In [6]:
data = []

with open("negative_tweets.json") as f:
    # use 'marid_post_week3 as a test sample'
    for line in f:
        try:
            tweet = json.loads(line)
            if tweet['text'].find('RT @')!=-1:
            # drop Retweeted tweet
                continue
            data.append(tweet)
        except:
            continue

with open('nnegative_tweets.json','w') as fp:
    json.dump(data,fp)

tweets_data_path=('nnegative_tweets.json')
tweets_data = []
tweets_file = open(tweets_data_path,'r')
tweets_data = json.load(tweets_file)
type(tweets_data)

# convert the json file to dataframe
df2 = pd.DataFrame(tweets_data)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4998 entries, 0 to 4997
Data columns (total 28 columns):
contributors                 0 non-null object
coordinates                  36 non-null object
created_at                   4998 non-null object
entities                     4998 non-null object
favorite_count               4998 non-null int64
favorited                    4998 non-null bool
geo                          36 non-null object
id                           4998 non-null int64
id_str                       4998 non-null object
in_reply_to_screen_name      2374 non-null object
in_reply_to_status_id        2056 non-null float64
in_reply_to_status_id_str    2056 non-null object
in_reply_to_user_id          2374 non-null float64
in_reply_to_user_id_str      2374 non-null object
is_quote_status              4998 non-null bool
lang                         4998 non-null object
metadata                     4998 non-null object
place                        234 non-null object
possibly_sensitive           554 non-null object
quoted_status                135 non-null object
quoted_status_id             136 non-null float64
quoted_status_id_str         136 non-null object
retweet_count                4998 non-null int64
retweeted                    4998 non-null bool
source                       4998 non-null object
text                         4998 non-null object
truncated                    4998 non-null bool
user                         4998 non-null object
dtypes: bool(4), float64(3), int64(3), object(18)
memory usage: 956.7+ KB

In [7]:
col_to_keep = ['text']
df2 = df2[col_to_keep]
df2['target'] = 0
df2.head()

                                                text  target
0                                hopeless for tmr :(       0
1  Everything in the kids section of IKEA is so c...       0
2  @Hegelbon That heart sliding into the waste ba...       0
3  “@ketchBurning: I hate Japanese call him "bani...       0
4           Dang starting next week I have "work" :(       0

In [10]:
df_tweets = pd.concat([df, df2])
df_tweets.head()
df_tweets.to_csv('train_NLTKCorpus_Twitter.csv', encoding='utf-8')